@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html[data-theme='default'] {
		--accent-color: var(rgba(255, 167, 38, 1));
		--background-color: var(rgba(254, 251, 252, 1));
		--primary-color: var(rgba(45, 190, 156, 1));
		--secondary-color: var(rgba(152, 176, 168, 1));
		--text-color: var(rgba(17, 4, 7, 1));
	}
	html[data-theme='dark'] {
		--accent-color: var(rgba(231, 76, 60, 1));
		--background-color: var(rgba(4, 1, 2, 1));
		--primary-color: var(rgba(90, 216, 186, 1));
		--secondary-color: var(rgba(54, 75, 68, 1));
		--text-color: var(rgba(251, 238, 241, 1));
	}
	main {
		@apply container mx-auto;
	}
}
