@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		@apply bg-background text-text shadow-shadow;
	}
	html[data-theme='default'] {
		--accent-color: rgba(255, 167, 38, 1);
		--background-color: rgba(254, 251, 252, 1);
		--primary-color: rgba(45, 190, 156, 1);
		--secondary-color: rgba(152, 176, 168, 1);
		--text-color: rgba(17, 4, 7, 1);
		--shadow-color: rgba(80, 77, 77, 0.25);
	}
	html[data-theme='dark'] {
		--accent-color: rgba(231, 76, 60, 1);
		--background-color: rgba(4, 1, 2, 1);
		--primary-color: rgba(90, 216, 186, 1);
		--secondary-color: rgba(54, 75, 68, 1);
		--text-color: rgba(251, 238, 241, 1);
		--shadow-color: rgba(255, 255, 255, 0.28);
	}
	main {
		@apply container mx-auto px-2 py-8 md:px-16;
	}
	input:checked ~ .dot {
		transform: translateX(100%);
		background-color: var(--primary-color);
	}
}

@layer components {
	.btn {
		@apply rounded-full px-2 py-1 text-sm hover:cursor-pointer active:scale-95 active:shadow-inner;
	}
	.card {
		@apply items-center justify-center rounded-lg p-3 shadow-sm shadow-shadow transition-all duration-300 hover:shadow-lg hover:shadow-shadow;
	}
}
