@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@layer base {
  ::-moz-selection {
    color: #7f5af0;
  }

  ::selection {
    color: #7f5af0;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #16161a;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      #242629,
      50%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      #7f5af0,
      50%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  html,
  body {
    background-color: rgb(22, 22, 26);
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
  }
}

@layer components {
  .txt-head1,
  .txt-head2 {
    @apply font-bold leading-tight text-head;
  }

  .txt-head1 {
    @apply text-5xl;
  }

  .txt-head2 {
    @apply text-3xl;
  }
  .txt-body {
    @apply text-lg text-body;
  }
  .navbar-items {
    @apply mx-3 cursor-pointer capitalize text-head transition-all  duration-500 hover:rounded-xl hover:bg-primary hover:px-3;
  }
  .selected-navbar-item {
    @apply text-lg capitalize text-primary transition-all  duration-500 hover:bg-background hover:px-0;
  }
  .navbar-items-sm {
    @apply my-3 text-center capitalize text-head transition-all  duration-500 active:rounded-md active:bg-primary;
  }
  .selected-navbar-item-sm {
    @apply text-center capitalize text-primary transition-all  duration-500;
  }
  .skill-page {
    @apply flex h-screen w-screen flex-col items-center justify-items-center gap-5 pt-10 md:grid md:grid-cols-3 md:px-5 md:pt-0;
  }
  .skill-card {
    @apply mx-auto flex min-w-fit flex-col rounded-2xl bg-background-shade p-5 text-center align-middle transition-all duration-1000 hover:shadow-md hover:shadow-primary md:h-1/2 md:w-full md:hover:scale-105;
  }
  .project-card {
    @apply my-5 flex h-full w-full flex-col flex-nowrap justify-end rounded-lg bg-background-shade p-5 transition-all duration-1000 hover:scale-105 hover:shadow-md hover:shadow-body;
  }
  .project-page {
    @apply grid h-screen w-screen grid-cols-1 overflow-y-scroll px-2 pb-24 md:grid-cols-3;
  }
}
